* {
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5% !important;
    font-family: "Lato", sans-serif;
    color: $font-color;
    // $media $tablet{
    //   color: $black;
    // }
  }
  
  body {
    margin: 0;
  }
  
  h1 {
    font-size: 2.8rem;
  }
  
  h2 {
    font-size: 2.4rem;
  }
  
  p {
    font-size: 1.8rem;
  }
  
  li {
    font-size: 2rem;
  }
  
  sup {
    font-size: medium;
    vertical-align: super;
  }
  
  sub {
    font-size: medium;
    vertical-align: sub;
  }
  
  em{
    font-style: italic;
  }

  .App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    .ui.button {
      padding: 11px 6%;
      font-size: 1.6rem;
    }
  }

  .App-logo {
    width: 100px;
    margin-top: 5%;
  }
