.App {
    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 1.8rem 3rem 0 3rem;
        // @media @desktop{
        //   padding-right: 8%;
        //   }
      
        a {
          text-decoration: none;
          color: $font-color;
        }
      
        img {
          width: 100px;
        //   @media @desktop{
        //     width: 100px;
        //     margin-top: 5%;
        //   }
        }
      
        .pages {
            font-size: 1.3rem;
        }
      
        .about-link {
          margin-right: 40px;
        }
      }
}
    