.App {
    .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 1.8rem 3rem 0 3rem;
        // @media @desktop{
        //   padding-right: 8%;
        //   }
      
        a {
          text-decoration: none;
          color: $font-color;
        }
      
        img {
          width: 100px;
        //   @media @desktop{
        //     width: 100px;
        //     margin-top: 5%;
        //   }
        }
      
        .pages {
            font-size: 1.8rem;
        }
      
        .about-link {
          margin-right: 40px;
        }
        .loggedin_menu {
          display: flex;
          font-size: 1.8rem;
          .dropdown{
            .item {
              font-size: 1.8rem;
            }
            .menu {
              left: -80px;
            }
          }
          .item:first-of-type {
            margin-right: 50px;
            font-size: 1.8rem;
            a {
              font-size: 1.8rem;
            }
          }
        }
      }
}
    