/*===== COLORS =====*/
$dark-gray: #4a4a4a;
$mid-gray: #6b6b6b;
$light-gray: #9b9b9b;
$white: #ffffff;
$black: #000000;
$green: #6AD856;
$peach: #FE9A76;

/*===== COLOR ASSIGNMENTS =====*/
$font-color: $dark-gray;

$button-bg: $green;
$button-color: $white;
$button-hover: $peach;

$testimonial-bg: $white;
$testimonial-color: $black;

$subscription-bg: $white;
$subscription-color: $black;

// /*===== MEDIA QUERIES =====*/
// $desktop: ~"(min-width: 1000px)";
// $tablet: ~"(min-width: 800px)";

/*===== OTHER =====*/
$alt-font: "Nunito";